.aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    margin-bottom: 2rem;
}

.button {
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
}

.button:hover {
    border-bottom: 1px solid rgb(224, 221, 221);
    transition: border-bottom-width 0.5s ease;
}

.button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(223, 221, 221);
    z-index: -1;
    transition: width 0.2s ease;
}

.button:hover::after {
    width: 100%;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 8px;
    background-color: azure;
}

.information {
    color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    display: flex;
}


