.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    margin: auto;
}

@media (max-width: 768px) {
    .footer {
        width: 35%;
    }
}

.footer button {
    border: none;
    background-color: rgb(207, 207, 207);
    color: black;
    width: 4.313rem;
    height: 4.438rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 2px 4px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .footer {
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
    }
}

.footer button:hover {
    background-color: rgb(224, 221, 221);
    transition: background-color 0.5s ease;
}